@import components/_header
@import components/_footer
@import components/_main
@import components/_button
@import components/_botcard
@import components/_botstrip
@import components/_imagestrip
@import components/_form
@import components/_imagedrag
@import components/_loader
@import components/_emphasis
@import components/_bot
@import _fonts
@import _scrollbar

body
  padding: 0
  margin: 0
  background-color: #333333
  
.App
  display: flex
  flex-direction: column
  height: 100vh

.row
  display: flex
  flex-direction: row

.left
  text-align: left

.round
  border-radius: 5px

.underline-container
  h1, h2, h3, h4, h5, h6
    padding: 0
    margin: 0
  margin-top: 10px
  margin-bottom: 10px

.underline-content
  display: flex
  justify-content: left

.underline-header
  margin: 0
  display: inline-block

.underline-link
  display: inline-block
  margin-left: auto
  margin-top: auto
