header {
  background-color: #aaaaaa;
  background-size: cover;
  background-position: center; }

nav {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative; }
  nav content, nav .nav-links {
    display: flex;
    margin-left: auto; }
    @media screen and (max-width: 800px) {
      nav content, nav .nav-links {
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        pointer-events: none;
        height: 100%; }
        nav content a, nav content h1, nav .nav-links a, nav .nav-links h1 {
          display: none; }
        nav content::before, nav .nav-links::before {
          content: "Menu!";
          height: 100%;
          padding: 1em;
          color: #fff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          pointer-events: auto; }
        nav content:hover, nav content:active, nav .nav-links:hover, nav .nav-links:active {
          opacity: 1;
          position: fixed;
          transition: opacity 0.5s ease-in-out;
          height: auto; }
          nav content:hover h1, nav content:hover a, nav content:active h1, nav content:active a, nav .nav-links:hover h1, nav .nav-links:hover a, nav .nav-links:active h1, nav .nav-links:active a {
            display: block;
            pointer-events: auto; }
          nav content:hover::before, nav content:active::before, nav .nav-links:hover::before, nav .nav-links:active::before {
            display: none; } }
  nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: #ffffff;
    text-decoration: none; }
  nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
    padding: 0;
    margin: 0;
    display: block; }
  nav a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em; }

.header-jumbotron {
  text-align: center;
  padding: 5em 1em 5em 1em;
  background-color: rgba(0, 0, 0, 0.7); }

footer {
  text-align: center;
  background-color: #444;
  background-size: cover;
  padding: 5em 1em 5em 1em; }

main {
  text-align: center;
  background-color: #333333;
  background-size: cover;
  padding: 2em;
  flex-grow: 1; }
  main code {
    text-align: left; }
  @media screen and (min-width: 600px) {
    main {
      padding: 1em 5em 1em 5em; } }
  @media screen and (min-width: 800px) {
    main {
      padding: 1em 10em 1em 10em; } }
  @media screen and (min-width: 1200px) {
    main {
      padding: 1em 15em 1em 15em; } }
  @media screen and (min-width: 1600px) {
    main {
      padding: 1em 25em 1em 25em; } }
  @media screen and (min-width: 2000px) {
    main {
      padding: 1em 35em 1em 35em; } }

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center; }

.button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: 0.5em;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  white-space: nowrap; }
  .button.green {
    background-color: #2ecc71;
    filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6));
    color: #fff; }
    .button.green:hover {
      filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6)) brightness(50%); }
  .button.orange {
    background-color: #e67e22;
    filter: drop-shadow(5px 5px 0 rgba(230, 126, 34, 0.6));
    color: #fff; }
    .button.orange:hover {
      filter: drop-shadow(5px 5px 0 rgba(230, 126, 34, 0.6)) brightness(50%); }
  .button.blue {
    background-color: #3498db;
    filter: drop-shadow(5px 5px 0 rgba(52, 152, 219, 0.6));
    color: #fff; }
    .button.blue:hover {
      filter: drop-shadow(5px 5px 0 rgba(52, 152, 219, 0.6)) brightness(50%); }
  .button.red {
    background-color: #e74c3c;
    filter: drop-shadow(5px 5px 0 rgba(231, 76, 60, 0.6));
    color: #fff; }
    .button.red:hover {
      filter: drop-shadow(5px 5px 0 rgba(231, 76, 60, 0.6)) brightness(50%); }
  .button.white {
    background-color: #fff;
    filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6));
    color: #111; }
    .button.white:hover {
      filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6)) brightness(50%); }
  .button.black {
    background-color: #000;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6));
    color: #fff; }
    .button.black:hover {
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6)) brightness(50%); }
  .button:hover {
    color: #fff;
    transition: all 350ms ease; }

.bot-cards, .bot-strip-container {
  margin-top: 10px;
  margin-bottom: 10px; }

.bot-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.bot-cards-card {
  width: 120px;
  background-color: #555;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  filter: drop-shadow(5px 5px 0 rgba(85, 85, 85, 0.6));
  transition: all 0.5s; }
  .bot-cards-card h1, .bot-cards-card p {
    margin: 0; }
  .bot-cards-card p {
    overflow: hidden;
    line-height: 1.3em;
    height: 2.6em; }
  .bot-cards-card:hover {
    margin-top: 0px;
    margin-bottom: 20px;
    transition: all 0.5s; }

.bot-card-avatar {
  width: 100%; }

.bot-strip-container {
  display: block;
  text-align: left; }

.bot-strip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden; }
  .bot-strip .bot-cards-card:last-of-type {
    margin-right: 100px; }

.bot-strip-tab {
  padding-top: 15px; }

.bot-strip-tab-content {
  display: flex;
  justify-content: center; }

.bot-strip-tab-header {
  margin: 0;
  display: block; }

.bot-strip-tab-more {
  display: block;
  margin-left: auto;
  margin-top: auto; }

.image-strip-container {
  display: block; }

.image-strip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px; }

.image-strip-image-container {
  width: 100%;
  flex-grow: 1; }

.image-strip-image {
  width: 100%; }

.form-edit {
  display: flex;
  flex-direction: column; }

.form-label {
  text-align: left;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 2px; }

.form-input {
  margin-top: 2px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14pt;
  border-style: none;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6));
  transition: all 350ms ease; }
  .form-input:hover, .form-input:focus {
    filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6)) brightness(90%);
    transition: all 350ms ease; }

.react-monaco-editor-container {
  margin-top: 2px;
  margin-bottom: 5px;
  text-align: initial;
  filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6));
  color: initial; }

.image-drag {
  margin-top: 2px;
  margin-bottom: 5px; }

.image-drag-item {
  display: block;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6));
  transition: filter 350ms ease; }
  .image-drag-item:hover, .image-drag-item:focus {
    filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6)) brightness(90%);
    transition: filter 350ms ease; }

.image-drag-image {
  user-select: none;
  pointer-events: none;
  max-height: 200px;
  max-width: 200px; }

.image-drag-delete {
  position: absolute;
  display: block;
  line-height: 1em;
  cursor: pointer;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.3); }

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite; }

.loader-container {
  text-align: center; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.emphasis {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  line-height: 38px;
  margin: 0.5em;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  white-space: nowrap; }
  .emphasis.green {
    background-color: #2ecc71;
    filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6));
    color: #fff; }
  .emphasis.orange {
    background-color: #e67e22;
    filter: drop-shadow(5px 5px 0 rgba(230, 126, 34, 0.6));
    color: #fff; }
  .emphasis.blue {
    background-color: #3498db;
    filter: drop-shadow(5px 5px 0 rgba(52, 152, 219, 0.6));
    color: #fff; }
  .emphasis.red {
    background-color: #e74c3c;
    filter: drop-shadow(5px 5px 0 rgba(231, 76, 60, 0.6));
    color: #fff; }
  .emphasis.white {
    background-color: #fff;
    filter: drop-shadow(5px 5px 0 rgba(255, 255, 255, 0.6));
    color: #111; }
  .emphasis.black {
    background-color: #000;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6));
    color: #fff; }

body {
  font-family: "Noto Sans", "Arial", sans-serif; }

code {
  font-family: "Noto Mono", "Ubuntu Mono", "Courier", monospace; }

h1, h2, h3, h4, h5, h6,
p, i, b, td, li, span, code {
  color: #eeeeee; }

::-webkit-scrollbar {
  margin: 1px;
  width: 10px; }

::-webkit-scrollbar-track {
  background: #444; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.slick-dots li.slick-active button:before {
  color: #fff; }

.slick-dots li button:before {
  color: #aaa; }

body {
  padding: 0;
  margin: 0; }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.row {
  display: flex;
  flex-direction: row; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #0096cf; }

a:hover, a:active {
  color: #00b0f4; }

/*# sourceMappingURL=index.css.map */
