.bot-cards, .bot-strip-container
  margin-top: 10px
  margin-bottom: 10px
  
.bot-cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.bot-cards-card
  width: 120px
  background-color: #555
  margin-right: 20px
  margin-top: 10px
  margin-bottom: 20px
  padding: 5px
  display: flex
  flex-direction: column
  flex-shrink: 0
  filter: drop-shadow(5px 5px 0 rgba(#555, .6))
  transition: all 0.5s
  text-align: left
  h1, p
    margin: 0
    font-size: 12pt
    overflow: hidden
    text-overflow: ellipsis
  p
    line-height: 1.3em
    height: 2.6em
  &:hover
    margin-top: 0px
    margin-bottom: 10px
    transition: all 0.5s

.bot-card-avatar
  width: 100%
