header
  background-color: #aaaaaa
  background-size: cover
  background-position: center

nav
  background-color: rgba(0, 0, 0, 0.9)
  display: flex
  flex-direction: row
  overflow: hidden
  position: relative
  content
    display: flex
    margin-left: auto
    @media screen and (max-width: 800px)
      flex-direction: column
      position: absolute
      right: 0
      background-color: rgba(0, 0, 0, 0.9)
      pointer-events: none
      height: 100%
      a, h1
        display: none
      &::before
        content: "Menu!"
        height: 100%
        padding: 1em
        color: #fff
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
        pointer-events: auto
      &:hover, &:active
        opacity: 1
        position: fixed
        transition: opacity 0.5s ease-in-out
        height: auto
        h1, a
          display: block
          pointer-events: auto
        &::before
          display: none
        
  a:link, a:visited, a:hover, a:active
    color: #ffffff
    text-decoration: none
  h1, h2, h3, h4, h5, h6
    padding: 0
    margin: 0
    display: block
  a
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    padding: 0.5em 1em 0.5em 1em

.header-jumbotron
  text-align: center
  padding: 5em 1em 5em 1em
  background-color: rgba(0, 0, 0, 0.7)
