.image-strip-container
  display: block

.image-strip
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  padding: 5px

.image-strip-image-container
  width: 100%
  flex-grow: 1

.image-strip-image
  width: 100%