main
  text-align: center
  code
    text-align: left
  background-size: cover
  margin-left: auto
  margin-right: auto
  padding: 2em
  box-sizing: border-box
  flex-grow: 1
  @media screen and (min-width: 600px)
    width: 100%
  @media screen and (min-width: 800px)
    width: 70%
  @media screen and (min-width: 1200px)
    width: 50%
